/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal */

@font-face {
    font-family: "Roboto Slab Bold";
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: "Montserrat Alternates Italic";
    src: url(../fonts/Montserrat_Alternates/MontserratAlternates-BlackItalic.ttf);
}

html {
    font-size: 16px;
}

h2 {
    font-size: 3.125rem;
    font-family: "Roboto Slab Bold", sans-serif;
}

h3 {
    font-size: 2.15rem;
    font-family: "Monterrat Alternates Italic", sans-serif;
    font-style: italic;
}

a {
    color: #000000;
    text-decoration: none;
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
}

/* Header */
header {
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #007BFF;
    padding: 20px 30px;
    border-bottom: 1px solid #000000;
}

.logo img {
    height: 100px;
    width: 300px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

nav a:hover {
    color: #FFFFFF;
}

.signup a  {
    padding: 10px;
    border-radius: 10px;
    background-color: #FF5733;
}

.signup a:hover {
    color: #FFFFFF;
    background-color: #ff5833b0;
    cursor: pointer;
}

/* Main */
.main-content {
    height: 43.5rem;
    background-image: url(../images/football-field-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title {
    background-color: #000000;
    padding: 0.5rem 2.5rem 5rem;
    position: relative;
    left: 10%;
}

.title h2, .title h3, .title span, .title a{
    color:#FFFFFF;
    display: block;
    text-align: center;
    padding: 15px;
}

.title a {
    background-color: #FF5733;
    border: 10px solid #FFFFFF;
    border-radius: 10px;
}